{% extends 'basic.html' %}
{% load humanize %}
{% block title %}
{{obj.p_tag}}
{% endblock title %}
{% block body %}

<div class="container bg-light my-2 p-2">
<strong class="d-inline-block mb-2  text-primary">{{obj.p_tag}}</strong>
<h3 class="mb-0"><a class="text-dark" href="#">{{obj.p_name}}</a></h3>
<div class="mb-1 text-muted"><i>Author :</i> {{obj.p_user.username}}  <span class="badge badge-danger mx-3">{{obj.p_timestamp|naturaltime}}</span></div>
<h4 class="mb-2 mt-2">Problem Statement</h4>
<p>{{obj.p_desc}}</p>
<hr>
<h4 class="mb-2 mt-2">Input</h4>
<p>{{obj.p_in}}</p>

<h4 class="my-2">Output</h4>
<p>{{obj.p_out}}</p>
<hr>
<h4 class="my-2">Constraint</h4>
<pre>{{obj.p_const}}</pre>

<hr>
<h4 class="my-2">Exaple Input</h4>
{{obj.p_exin}}
<h4 class="my-2">Exaple output</h4>
{{obj.p_exout}}
<hr>
<div class="container border rounded bg-dark p-2">
<h2 class="text-white">Answer:</h3>
<pre><code class="text-white">
{{obj.p_code}}
</code></pre>
</div>



</div>


{% endblock body %}