{% extends "basic.html" %}
{% block title %}Home  
{% endblock title %}  

{% block currenthome %}
active
{% endblock currenthome %}
{% block body %}
      
      <div class="container mb-3 bg-secondary border rounded text-light">
          <div class="row">
              <div class="col-md-4 col-sm-4  d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/memesheader.png" class="card-img-top" alt="...">
                    <div class="card-body text-light bg-dark">
                        <h5 class="card-title text-center ">MEMES MEMES MEMES</h5>
                        <div class=" d-flex justify-content-center">
                      
                        <a href="/meme/" class="btn btn-warning"><strong>Let me in </strong><i class="fa fa-chevron-circle-right"></i></a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-8 col-sm-8">
                
                    <h1 class="display-4">Memes</h1>
                    <p class="lead">An image, video, piece of text, etc., typically humorous in nature, that is copied and spread rapidly by Internet users, often with slight variations.</p>
                    <hr class="my-4">
                    
                    
                    <a class="btn btn-warning btn-lg mb-3" href="/meme/" role="button"><strong>Explore Meme Section</strong> <i class="fa fa-chevron-circle-right"></i></a>
                  </div>
              
          </div>
      </div>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Classic Problems</h1>
     <p class="lead">We compiled the list of classic coding problems and arranged them according to their tags.Feel Free to Explore this section.</p>
    
    <hr class="my-2">
    
    <p class="lead">
    
        <a class="btn btn-primary btn-lg mr-2 mt-2" href="/problem/problemtags/" role="button"> Sorted By Tags  <i class="fa fa-chevron-circle-right"></i> </a>

        <a class="btn btn-primary btn-lg mt-2" href="/problem/" role="button"> Explore  Listed problems  <i class="fa fa-chevron-circle-right"></i> </a>
    
    </p>
</div>
</div>

{% endblock body %}