{% extends 'basic.html' %}
{% block title %}
meme type
{% endblock title %}
{% block css %}
.cmntbox{
    border-radius:55px;
}
{% endblock css %}

{% block body %}
<div class="container bg-light py-3 border rounded">
    <h1 class="display-4 text-danger text-center">{{obj.mem_tag}}</h1>

</div>

<div class="container my-2 border rounded">
    <a href="/meme/{{obj.mem_tag}}/" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></a>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{obj.mem_img}}/" height="375" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{obj.mem_tag}}</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 p-3">
            {% if not user.is_authenticated %}
            <p class="text-danger">Please <button type="button" class="btn btn-sm btn-primary mx-2" data-toggle="modal" data-target="#loginmodel">Log in</button> to Comment</p>
            {% else %}
             <h3>Post a Reply:</h3>
        <form  class="form-inline md-form mr-auto" action="#" method="POST">{% csrf_token %}
            <input type="hidden" name="postId" value="{{obj.mem_id}}">
            <input type="hidden" name="Parentsno" value="">
           
            <input type="text" class="form-control mr-sm-2" name="comment" id="comment" placeholder="Enter Your Comment here" required>
    
            <button type="submit" class="btn btn-success" value="submit"><i class="fa fa-chevron-circle-right"></i></button>
       
    </form>
            {% endif %}
         <h4 class="my-2">Comments:</h4>    
  <div class="media border p-3  my-2 bg-dark text-light cmntbox">
  <img src="/static/img/user.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:30px;height:30px;">
  <div class="media-body">
    <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
            
        </div>
    </div>
</div>
{% endblock body %}