{% extends 'basic.html' %}
{% block title %}
{{obj.mem_tag}}-{{obj.mem_id}}
{% endblock title %}
{% block css %}
{% load humanize %}
{% load extras %}
.cmntbox{
    border-radius:8px;
}
.card{
    height:27rem;
}
{% endblock css %}

{% block body %}
<div class="container-fluid bg-secondary py-3 border rounded">
    <h1 class="display-4 text-light text-center">{{obj.mem_tag}}</h1>

</div>

<div class="container my-2 border rounded">
    <a href="/meme/{{obj.mem_tag}}/" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></a>
    <div class="row bg-light">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card" style="width: 25rem;">
                <img src="/media/{{obj.mem_img}}/" height="375" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{obj.mem_tag}}</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 p-3">
            {% if not user.is_authenticated %}
            <p class="text-danger">Please <button type="button" class="btn btn-sm btn-primary mx-2" data-toggle="modal" data-target="#loginmodel">Log in</button> to Comment</p>
            {% else %}
             <h3>Post a Reply:</h3>
        <form  class="form-inline md-form mr-auto" action="/meme/postComment/" method="POST">{% csrf_token %}
            <input type="hidden" name="postId" value="{{obj.mem_id}}">
            <input type="hidden" name="Parentsno" value="">
           
            <input type="text" style="width:300px;height:50px;" class="form-control mr-sm-2" name="comment" id="comment" placeholder="Enter Your Comment here" required>
    
            <button type="submit" style="height:50px;" class="btn btn-outline-primary" value="submit"><i class="fa fa-chevron-circle-right"></i></button>
       
    </form>
            {% endif %}
         <h4 class="my-2">Comments:({{comments|length}})</h4>    
         {% for i in comments %}
  <div class="media  p-3  my-2 cmntbox">
  <img src="/static/img/user.png" alt="John Doe" class="mr-3 mt-3 border rounded-circle" style="width:30px;height:30px;">
  <div class="media-body cmntbox border bg-dark text-light p-2 ">
    <h4>{{i.user}} <small><span class="badge badge-warning ml-2">{{i.timestamp|naturaltime}}</span></small></h4>
    <p>{{i.comment}}</p>
        <!-- Place for reply -->
        <button class="btn btn-warning btn-sm mb-2"  type="button" data-toggle="collapse" data-target="#reply{{i.sno}}" aria-expanded="false" aria-controls="collapseExample">
            Reply <i class="fa fa-chevron-circle-right"></i>
          </button>
          <div class="collapse" id="reply{{i.sno}}">
            <!-- <div class="card card-body"> -->
                <!-- place for comment shit -->
                {% if user.is_authenticated %}
                <form  class="form-inline md-form mr-auto" action="/meme/postComment/" method="POST">{% csrf_token %}
                    <input type="hidden" name="Parentsno" value="{{i.sno}}">
                    <input type="hidden" name="postId" value="{{obj.mem_id}}">
                   
                    <input type="text" class="form-control mr-sm-2" name="comment" id="comment" placeholder="Reply Here.." required>
            
                    <button type="submit" class="btn btn-warning" value="submit"><i class="fa fa-chevron-circle-right"></i></button>
               
            </form>
            {% else %}
               <p  class="text-danger">Please Login to Post a reply</p>
               {% endif %}
               </div>
               {% for i in repDict|get_val:i.sno %}
               <div class="media  p-3  my-2 cmntbox bg-secondary">
                <img src="/static/img/user.png" alt="John Doe" class="mr-3 mt-3 border rounded-circle" style="width:30px;height:30px;">
                <div class="media-body cmntbox border bg-dark text-light p-2 ">
                  <h4>{{i.user}} <small><span class="badge badge-warning ml-2">{{i.timestamp|naturaltime}}</span></small></h4>
                  <p>{{i.comment}}</p>
                  </div>
                  </div>
           {% endfor %}

  </div>
</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}